
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
</body>
</html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $.ajax({
        url: "https://localhost:7079/api/Employees/GetActiveEmployee",
        type: "GET",
        "datatype": "json",
        "dataSrc": "data",
        success: function (result) {
            console.log(result);
        }
    })
</script>
